.search-container {
display:flex;
justify-content: center;
align-items: center;
height: 10%;
}

.form-input {
height: 100%;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}

.search-input {
  /* background-color: var(--search-input-background); */
  /* color: var(--search-input-text-primary); */
  width: 50%;
  height: 4em;
  padding-left: 2em;
  border: none;
  text-decoration: none;
  border-radius: 14px;
}

.search-input:focus  {
  border: 0.5px solid #52796f;
  outline: 1px solid#52796f;
}

.submit-search {
  margin: 0 2%;
  /* height: 45%; */
  height: 4em;
  /* background-color: var(--search-input-background); */
  text-decoration: none;
  border: none;
  border-radius: 10px;
}

.submit-search:hover {
  cursor: pointer;
}

.submit-search[disabled] {
cursor: not-allowed;
}


/* .light-bg {
  background-color: #fff; 
} */

/* .dark-bg {
  background-color: #333; 
} */
