.light {
  background-color: rgb(227, 225, 220);
}

.dark {
  background-color: rgb(32, 34, 40);
}

.theme-change {
  display: flex;
  align-items: center;
  height: 8%;
  width: 100%;
}

.swap {
  padding-top: 3em;
  padding-left: 10em;
}