.thes-detail-cards {
  width: fit-content;
  margin: 5% 0% 5% 0%;
}

.dark-gray,
.gray,
.light-gray {
	box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
}

.primary-thes-bg {
  background-color: #023e7d;
  padding: 3% 5% 3% 5%;
  border-radius: 8px;
}

.secondary-thes-bg {
  background-color: #0353a4;
  padding: 3% 5% 3% 5%;
  border-radius: 8px;

}

.tertiary-thes-bg {
  background-color:#0466c8;
  padding: 3% 5% 3% 5%;
  border-radius: 8px;
}