.thes-detail-cards {
  width: fit-content;
  margin: 5% 0% 5% 0%;
}

.dark-gray,
.gray,
.light-gray {
	box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
}

.primary-thes-bg {
  background-color: #3a5a40;
  padding: 3% 5% 3% 5%;
  border-radius: 8px;
}

.secondary-thes-bg {
  background-color: #588157;
  padding: 3% 5% 3% 5%;
  border-radius: 8px;

}

.tertiary-thes-bg {
  background-color:#a3b18a;
  padding: 3% 5% 3% 5%;
  border-radius: 8px;
}